html{
  background-color: #121212;
  color: white;
}
body{
  scroll-snap-type: y mandatory;
}
header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #8eff38;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1%;
  margin: 0;
  background: linear-gradient(to top, #000000, #121212);
  font-size: 11px;
}

.header-menu-1{
  display: flex;
  flex-direction: row;
}

.header-menu-2{
  display: flex;
  flex-direction: row;
}

.header-menu-1 p{
  margin-right: 15px;
  transition: transform 1s ease,
              color 0.3s ease,
              margin-left 1s ease,
              margin-right 1s ease;
}

.header-menu-2 p{
  margin-left: 15px;
  transition: transform 1s ease,
              color 0.3s ease,
              margin-left 1s ease,
              margin-right 1s ease;
}

.header-menu-1 p:hover,
.header-menu-1 p.ativo{
  transform: scale(1.5);
  color: #8eff38;
  margin-right: 30px;
  margin-left: 20px;
}

.header-menu-2 p:hover,
.header-menu-2 p.ativo{
  transform: scale(1.3);
  color: #8eff38;
  margin-right: 30px;
  margin-left: 3  0px;
}
.paragrafo-texto-impressora3d{
  text-align: justify;
  margin-left: 20px;
  height: auto;
  width: 40%;
  padding-bottom: 100px;
}

.paragrafo-texto-impressora3d-h1{
  text-align: justify;
  margin-left: 20px;
  height: auto;
  width: 40%;
}

.paragrafo-texto-impressora3d p{
  animation: mover linear both;
  animation-timeline: view();
  animation-range: entry 0% exit 100%;
  line-height: 1.6;
  letter-spacing: 0.1em; 
}


@keyframes mover{
    from{
        opacity: 0;
        transform: translateY(200px);
    }

    30%{
        opacity: 1;
        transform: translateY(0);
    }

    70%{
        opacity: 1;
        transform: translateY(0);
    }

    to{
        opacity: 0;
        transform: translateY(-200px);
    }
}

